JARVIS_N8N_WORKFLOW.json
{
  "name": "Jarvis — WhatsApp PM Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook (Uzapi)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const GROUP_MAP = {\n  '120363426390515923@g.us': { context: 'angelfly', label: 'Angel Fly' },\n  '120363420996892188@g.us': { context: 'garlic',   label: 'Garlic N Lemon' },\n  '120363422948599063@g.us': { context: 'ernesto',  label: 'Ernesto' },\n};\n\nconst raw  = $input.first().json;\nconst body = raw.body || raw;\n\nconst debugKeys = Object.keys(body || {}).join(', ');\nconst debugData = body?.data ? Object.keys(body.data).join(', ') : 'n/a';\n\nconst messageText =\n  body?.text ||\n  body?.message?.text ||\n  body?.message?.body ||\n  body?.data?.text ||\n  body?.data?.message?.text ||\n  body?.data?.message?.body ||\n  body?.data?.message?.conversation ||\n  body?.data?.message?.extendedTextMessage?.text ||\n  '';\n\nconst senderName =\n  body?.senderName ||\n  body?.message?.senderName ||\n  body?.data?.senderName ||\n  body?.sender?.pushname ||\n  body?.data?.pushName ||\n  'Unknown';\n\nconst chatId =\n  body?.chatid ||\n  body?.chatId ||\n  body?.wa_chatid ||\n  body?.waChatId ||\n  body?.remoteJid ||\n  body?.data?.key?.remoteJid ||\n  body?.data?.message?.key?.remoteJid ||\n  body?.message?.key?.remoteJid ||\n  body?.id ||\n  body?.data?.chatid ||\n  body?.data?.chatId ||\n  body?.data?.wa_chatid ||\n  body?.data?.remoteJid ||\n  body?.message?.chatid ||\n  body?.message?.chatId ||\n  body?.message?.remoteJid ||\n  '';\n\nconst groupInfo = GROUP_MAP[chatId] || { context: 'unknown', label: 'Unknown' };\nconst cleanMessage = String(messageText || '')\n  .replace(/@jarvis/ig, '')\n  .replace(/\\bjarvis\\b/ig, '')\n  .replace(/59739253801103/g, '')\n  .replace(/@\\w+/g, '')\n  .trim();\n\nreturn [{ json: {\n  rawMessage: messageText,\n  cleanMessage,\n  senderName,\n  chatId,\n  waChatId: chatId,\n  groupContext: groupInfo.context,\n  groupLabel: groupInfo.label,\n  timestamp: new Date().toISOString(),\n  _debug_keys: debugKeys,\n  _debug_data_keys: debugData\n}}];"
      },
      "id": "node-parse",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "filter-jarvis-mention-number",
              "leftValue": "={{ $json.rawMessage }}",
              "rightValue": "59739253801103",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-jarvis-mention-name",
              "leftValue": "={{ $json.rawMessage.toLowerCase() }}",
              "rightValue": "@jarvis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-jarvis-plain-name",
              "leftValue": "={{ ($json.rawMessage || \"\").toLowerCase() }}",
              "rightValue": "jarvis",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Filter: Group & @Jarvis?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        580,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "node-ignore",
      "name": "Ignore (Wrong Group or No Mention)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        500
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.4,
          "maxTokens": 1000
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é o Jarvis, assistente de IA da Angel Fly Digital Solutions.\n\n## Tom e Personalidade\nNível de humor: {{ $json.humorDesc }}. Respostas diretas. Sem apresentações repetidas.\n\n## Contexto dos Grupos WhatsApp\n- **Angel Fly** (angelfly): Equipe interna, demandas operacionais\n- **Garlic N Lemon | Branding** (garlic): Cliente restaurante americano — branding, design, artes\n- **Ernesto | Site & Identidade Visual** (ernesto): Cliente restaurante — site, identidade visual\n\n## Projetos Ativos no Cockpit\\n{{ $json.projectsRef }}\\n\\n## KNOWLEDGE CARD DO GRUPO (use como contexto fixo)\\n{{ $json.groupKnowledgeSnippet }}\n\n## HISTÓRICO RECENTE DO GRUPO (últimas mensagens — use para entender contexto e referências como \"novamente\", \"isso\", \"aquele projeto\"):\n{{ $json.historyText }}\n\n---\n\n## Mensagem Atual\n**Autor:** {{ $json.senderName }}\n**Mensagem:** {{ $json.cleanMessage }}\n**Grupo:** {{ $json.groupLabel }}\n\n---\n\n## Regras de Classificação\n\n**create_task** — \"criar tarefa\", \"adicionar task\", \"precisa ser feito\":\n- Use o histórico para entender referências contextuais (\"novamente\", \"aquele projeto\", \"isso\")\n- Identifique o projeto correto da lista acima\n- status SEMPRE = \"assigned\"\n- Retorne project_id e project_name do projeto correto\n\n**create_ticket** — bugs, erros, reclamações (\"parou\", \"quebrou\", \"problema\"):\\n- SEMPRE priorize create_ticket quando a mensagem mencionar \"ticket\", \"chamado\", \"bug\", \"erro\" ou \"problema\"\\n- Nunca classifique como create_task quando a intenção for ticket/chamado\\n- Retorne subject, client_name, category\n\n**create_project** — \"novo projeto\", \"novo cliente\"\n\n**create_payment_incoming** / **create_payment_outgoing** — pagamentos\n\n**fetch_report** — consultas e relatórios (\"quais tasks\", \"tarefas de hoje\", \"tickets abertos\", \"resumo do projeto\")\n\n**none** — conversa normal, dúvidas, sem ação clara\n\n## Formato de Resposta — JSON OBRIGATÓRIO\n\ncreate_task:\n{\"intent\": \"create_task\", \"entity\": {\"title\": \"...\", \"description\": \"...\", \"priority\": \"high|medium|low\", \"project_id\": 1, \"project_name\": \"...\"}, \"reply\": \"✅ Tarefa criada em [projeto]!\"}\n\ncreate_ticket:\n{\"intent\": \"create_ticket\", \"entity\": {\"subject\": \"...\", \"description\": \"...\", \"priority\": \"high|medium|low\", \"category\": \"bug|change_request|complaint|question\", \"client_name\": \"...\"}, \"reply\": \"🎫 Ticket registrado para [cliente]!\"}\n\nnone:\n{\"intent\": \"none\", \"entity\": {}, \"reply\": \"Sua resposta conversacional em português\"}\n\nfetch_report:\n{\"intent\": \"fetch_report\", \"entity\": {\"scope\": \"today|open|all\", \"target\": \"tasks|tickets|both\", \"project_id\": 1, \"project_name\": \"...\"}, \"reply\": \"Consultando Cockpit...\"}"
            },
            {
              "role": "user",
              "content": "=Grupo: {{ $json.groupLabel }} | Contexto: {{ $json.groupContext }}\nRemetente: {{ $json.senderName }}\n\nMensagem atual:\n{{ $json.cleanMessage }}"
            }
          ]
        }
      },
      "id": "node-openai",
      "name": "OpenAI — Interpret Intent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.5,
      "position": [
        1520,
        380
      ],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\nstaticData.groupMemory = staticData.groupMemory || {};\n\nconst pm = $('Check Personality Command').first().json;\nconst ctx = $('Build Context').first().json;\nconst chatId = pm.chatId || pm.waChatId || 'unknown';\nconst currentMessage = pm.cleanMessage || pm.rawMessage || '';\nconst replyTarget = pm.waChatId || pm.chatId || '120363426390515923@g.us';\n\nif (!staticData.groupMemory[chatId]) {\n  staticData.groupMemory[chatId] = {\n    messages: [],\n    lastProjectId: null,\n    lastProjectName: '',\n    pendingTask: null,\n    pendingTicket: null,\n    pendingQuote: null,\n  };\n}\nconst chatMemory = staticData.groupMemory[chatId];\n\nconst normalize = (v) => String(v || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst m = normalize(currentMessage);\nconst PARSE_VERSION = '2026-04-22-v7';\n\nlet parsed = { intent: 'none', entity: {}, reply: '' };\nlet responseText = '';\nif (inputData?.message?.content) responseText = inputData.message.content;\nelse if (inputData?.choices?.[0]?.message?.content) responseText = inputData.choices[0].message.content;\nelse if (typeof inputData?.text === 'string') responseText = inputData.text;\nelse responseText = JSON.stringify(inputData || {});\n\ntry {\n  const clean = responseText.replace(/\\u0060\\u0060\\u0060json/g, '').replace(/\\u0060\\u0060\\u0060/g, '').trim();\n  const match = clean.match(/({[\\s\\S]*})/);\n  const obj = JSON.parse(match ? match[1] : clean);\n  parsed = { intent: obj.intent || 'none', entity: obj.entity || {}, reply: obj.reply || '' };\n} catch (e) {}\n\nlet knownProjects = [];\ntry { knownProjects = JSON.parse(ctx.projectsList || '[]'); } catch (e) { knownProjects = []; }\n\nconst overlapScore = (a, b) => {\n  const aa = normalize(a).split(' ').filter(x => x.length > 2);\n  const bb = normalize(b).split(' ').filter(x => x.length > 2);\n  if (!aa.length || !bb.length) return 0;\n  const sb = new Set(bb);\n  const hits = aa.filter(x => sb.has(x)).length;\n  return hits / Math.max(aa.length, bb.length);\n};\n\nconst findProjectByName = (name, pool = knownProjects) => {\n  const target = normalize(name);\n  if (!target || !pool.length) return null;\n\n  let direct = pool.find(p => normalize(p.name) === target);\n  if (direct) return direct;\n\n  direct = pool.find(p => {\n    const pn = normalize(p.name);\n    return pn.includes(target) || target.includes(pn);\n  });\n  if (direct) return direct;\n\n  let best = null;\n  let bestScore = 0;\n  for (const p of pool) {\n    const s = overlapScore(target, p.name);\n    if (s > bestScore) {\n      bestScore = s;\n      best = p;\n    }\n  }\n  return bestScore >= 0.34 ? best : null;\n};\n\nconst inferProjectFromMessage = (message, pool = knownProjects) => {\n  const msg = normalize(message);\n  if (!msg || !pool.length) return null;\n  const hits = pool.filter(p => {\n    const pn = normalize(p.name);\n    return pn && (msg.includes(pn) || pn.split(' ').some(w => w.length > 3 && msg.includes(w)));\n  });\n  return hits.length === 1 ? hits[0] : null;\n};\n\nconst groupClient = pm.groupContext === 'garlic' ? 'garlic' : (pm.groupContext === 'ernesto' ? 'ernesto' : '');\nconst groupProjects = groupClient\n  ? knownProjects.filter(p => normalize(p.client_name).includes(groupClient) || normalize(p.name).includes(groupClient))\n  : [];\n\nconst pickCanonicalGroupProject = () => {\n  if (!groupProjects.length) return null;\n  if (pm.groupContext === 'ernesto') {\n    const p = groupProjects.find(x => /ernesto\\s+s\\s+pizza|ernesto s pizza|ernesto pizza/.test(normalize(x.name)));\n    if (p) return p;\n  }\n  if (pm.groupContext === 'garlic') {\n    const p = groupProjects.find(x => /garlic/.test(normalize(x.name)));\n    if (p) return p;\n  }\n  if (pm.groupContext === 'angelfly') {\n    const p = groupProjects.find(x => /angel\\s*fly|cockpit/.test(normalize(x.name)));\n    if (p) return p;\n  }\n  return null;\n};\n\nconst resolveProject = (entity, { allowFallback = true } = {}) => {\n  if (!knownProjects.length) return null;\n\n  if (entity.project_name) {\n    const byNameInGroup = groupProjects.length ? findProjectByName(entity.project_name, groupProjects) : null;\n    if (byNameInGroup) return byNameInGroup;\n\n    const byNameGlobal = findProjectByName(entity.project_name, knownProjects);\n    if (byNameGlobal) return byNameGlobal;\n  }\n\n  if (entity.project_id) {\n    const byId = knownProjects.find(p => String(p.id) === String(entity.project_id));\n    if (byId) return byId;\n  }\n\n  const byMsgInGroup = groupProjects.length ? inferProjectFromMessage(currentMessage, groupProjects) : null;\n  if (byMsgInGroup) return byMsgInGroup;\n\n  const byMsgGlobal = inferProjectFromMessage(currentMessage, knownProjects);\n  if (byMsgGlobal) return byMsgGlobal;\n\n  if (!allowFallback) return null;\n\n  if (groupProjects.length === 1) return groupProjects[0];\n\n  const canonical = pickCanonicalGroupProject();\n  if (canonical) return canonical;\n\n  if (ctx.defaultProjectId) {\n    const byCtx = knownProjects.find(p => String(p.id) === String(ctx.defaultProjectId));\n    if (byCtx) return byCtx;\n  }\n\n  if (chatMemory.lastProjectId) {\n    const byMem = knownProjects.find(p => String(p.id) === String(chatMemory.lastProjectId));\n    if (byMem) return byMem;\n  }\n\n  return null;\n};\n\nconst cleanupTitle = (txt) => String(txt || '')\n  .replace(/@\\w+/g, '')\n  .replace(/\\b(jarvis|angel fly|angelfly)\\b/ig, '')\n  .replace(/\\b(cria|crie|abre|abrir|gera|gerar|registre|registrar|adicione|adicionar|mande|mostrar|mostra|listar|lista)\\b/ig, '')\n  .replace(/\\b(um|uma|o|a|de|do|da|pra|para|os|as)\\b/ig, ' ')\n  .replace(/\\b(ticket|tickets|chamado|chamados|task|tarefa|tarefas|orcamento|orcamento|orcamentos|orcamentos|quote)\\b/ig, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst entity = { ...(parsed.entity || {}) };\n\nconst isMemoryStatusQuery = /(memoria|memória)/.test(m) && /(como|qual|ta|esta|status|lembr)/.test(m);\nconst isMemoryFirstQuery = /(primeira|primeiro).*(mensagem|texto).*(hoje|dia)/.test(m) || /(qual foi a primeira mensagem)/.test(m);\n\nconst quoteAction = /(orcamento|orçamento|quote|cotacao|cotação)/.test(m) && /(cria|crie|fazer|montar|gerar|abre|abrir|novo|criar|registrar|registre)/.test(m);\n\nconst isReport = /(quais|listar|lista|resumo|relatorio|relatório|status|ativos|ativas|abertos|abertas|quantas|quantos|temos|mande)/.test(m)\n  && /(task|tarefas|ticket|tickets|chamado|chamados|cockpit)/.test(m);\n\nconst ticketAction = /((cria|crie|abrir|abre|registrar|registre|gerar|gera|adicionar|adicione).*(ticket|tickets|chamado|chamados))|((ticket|tickets|chamado|chamados).*(cria|crie|abrir|abre|registrar|registre|gerar|gera|adicionar|adicione))/.test(m)\n  || /\\b(abrir|abre|criar|cria)\\s+um\\s+bug\\b/.test(m);\n\nconst taskAction = /((cria|crie|adicionar|adicione|gerar|gera).*(task|tarefa))|((task|tarefa).*(cria|crie|adicionar|adicione|gerar|gera))/.test(m);\n\nconst projectAction = /(novo projeto|criar projeto|crie projeto)/.test(m);\nconst paymentInAction = /(payment incoming|entrada|recebimento)/.test(m) && /(cria|crie|registrar|registre|gerar|gera)/.test(m);\nconst paymentOutAction = /(payment outgoing|saida|saída|pagamento)/.test(m) && /(cria|crie|registrar|registre|gerar|gera)/.test(m);\n\nlet finalIntent = 'none';\nif (isMemoryStatusQuery || isMemoryFirstQuery) finalIntent = 'none';\nelse if (quoteAction) finalIntent = 'create_quote';\nelse if (isReport) finalIntent = 'fetch_report';\nelse if (ticketAction) finalIntent = 'create_ticket';\nelse if (taskAction) finalIntent = 'create_task';\nelse if (projectAction) finalIntent = 'create_project';\nelse if (paymentInAction) finalIntent = 'create_payment_incoming';\nelse if (paymentOutAction) finalIntent = 'create_payment_outgoing';\n\nconst parsedIntent = normalize(parsed.intent || '').replace(/\\s+/g, '_');\nconst parsedToIntent = {\n  fetch_report: 'fetch_report',\n  report: 'fetch_report',\n  relatorio: 'fetch_report',\n  consulta: 'fetch_report',\n  listar_tasks: 'fetch_report',\n  listar_tickets: 'fetch_report',\n  create_ticket: 'create_ticket',\n  ticket: 'create_ticket',\n  criar_ticket: 'create_ticket',\n  chamado: 'create_ticket',\n  create_task: 'create_task',\n  task: 'create_task',\n  criar_tarefa: 'create_task',\n  tarefa: 'create_task',\n  create_project: 'create_project',\n  project: 'create_project',\n  criar_projeto: 'create_project',\n  create_payment_incoming: 'create_payment_incoming',\n  create_payment_outgoing: 'create_payment_outgoing',\n  create_quote: 'create_quote',\n  quote: 'create_quote',\n};\n\nif ((finalIntent === 'none' || finalIntent === 'create_quote') && parsedToIntent[parsedIntent]) {\n  finalIntent = parsedToIntent[parsedIntent];\n}\n\nif (isReport) finalIntent = 'fetch_report';\nif (ticketAction) finalIntent = 'create_ticket';\nif (taskAction && !ticketAction) finalIntent = 'create_task';\n\nconst retryHint = /(^|\\s)(consegue|agora|agora sim|pode|vai|segue|manda ver|tenta de novo|retry|sim)(\\s|$)/i.test(currentMessage);\nif (finalIntent === 'none' && (chatMemory.pendingTask || chatMemory.pendingTicket || chatMemory.pendingQuote) && retryHint) {\n  if (chatMemory.pendingTask) {\n    finalIntent = 'create_task';\n    Object.assign(entity, chatMemory.pendingTask);\n  } else if (chatMemory.pendingTicket) {\n    finalIntent = 'create_ticket';\n    Object.assign(entity, chatMemory.pendingTicket);\n  } else if (chatMemory.pendingQuote) {\n    finalIntent = 'create_quote';\n    Object.assign(entity, chatMemory.pendingQuote);\n  }\n}\n\nlet forcedReply = '';\nlet resolvedProject = null;\n\nif (isMemoryFirstQuery) {\n  const today = new Date().toISOString().slice(0, 10);\n  const msgs = Array.isArray(chatMemory.messages) ? chatMemory.messages : [];\n  const todays = msgs.filter(x => x && x.ts && new Date(x.ts).toISOString().slice(0, 10) === today);\n  const first = (todays[0] || msgs[0] || null);\n  if (first && first.text) {\n    forcedReply = 'A primeira mensagem registrada hoje foi: \"' + first.text + '\".';\n  } else {\n    forcedReply = 'Ainda não tenho mensagem anterior salva para este chat hoje.';\n  }\n  finalIntent = 'none';\n}\n\nif (!forcedReply && isMemoryStatusQuery) {\n  const msgs = Array.isArray(chatMemory.messages) ? chatMemory.messages : [];\n  const lastProject = chatMemory.lastProjectName || 'não definido';\n  forcedReply = 'Memória ativa neste grupo: ' + msgs.length + ' mensagens recentes salvas. Último projeto usado: ' + lastProject + '.';\n  finalIntent = 'none';\n}\n\nif (finalIntent === 'create_quote') {\n  const pending = chatMemory.pendingQuote || {};\n  const amountMatch = currentMessage.match(/(?:r\\$|\\$)\\s*([0-9]+(?:[\\.,][0-9]{1,2})?)/i);\n  if (!entity.amount && amountMatch) {\n    entity.amount = Number(String(amountMatch[1]).replace(',', '.'));\n  }\n  if (!entity.title && !entity.subject) {\n    entity.title = cleanupTitle(currentMessage) || '';\n  }\n  if (!entity.client_name) {\n    entity.client_name = pm.groupContext === 'garlic'\n      ? 'Garlic N Lemon'\n      : pm.groupContext === 'ernesto'\n        ? 'Ernesto Pizza'\n        : '';\n  }\n\n  const merged = {\n    title: entity.title || entity.subject || pending.title || '',\n    description: entity.description || pending.description || '',\n    client_name: entity.client_name || pending.client_name || '',\n    amount: entity.amount || pending.amount || null,\n    valid_until: entity.valid_until || pending.valid_until || '',\n  };\n\n  chatMemory.pendingQuote = merged;\n\n  const missing = [];\n  if (!merged.client_name) missing.push('cliente');\n  if (!merged.title) missing.push('título/escopo');\n  if (!merged.amount) missing.push('valor total');\n  if (!merged.valid_until) missing.push('validade (data)');\n\n  if (missing.length > 0) {\n    forcedReply = 'Para montar o orçamento, me envie: ' + missing.join(', ') + '.';\n  } else {\n    forcedReply = 'Perfeito. Tenho os dados do orçamento. Hoje a API do Cockpit não expõe criação em /quotes; posso registrar isso agora como task no projeto e te devolver o resumo pronto para colar no módulo de Quotes.';\n  }\n  finalIntent = 'none';\n}\n\nif (finalIntent === 'create_task') {\n  if (!entity.title) entity.title = cleanupTitle(currentMessage) || 'Task via WhatsApp';\n  if (!entity.description) entity.description = currentMessage;\n  entity.priority = entity.priority || 'medium';\n\n  resolvedProject = resolveProject(entity, { allowFallback: true });\n  if (resolvedProject) {\n    entity.project_id = resolvedProject.id;\n    entity.project_name = resolvedProject.name;\n    chatMemory.lastProjectId = resolvedProject.id;\n    chatMemory.lastProjectName = resolvedProject.name;\n    chatMemory.pendingTask = null;\n  } else {\n    chatMemory.pendingTask = {\n      title: entity.title || '',\n      description: entity.description || '',\n      priority: entity.priority || 'medium',\n      project_name: entity.project_name || '',\n    };\n    finalIntent = 'none';\n  }\n}\n\nif (finalIntent === 'create_ticket') {\n  if (!entity.subject && !entity.title) entity.subject = cleanupTitle(currentMessage) || 'Ticket via WhatsApp';\n  if (!entity.description) entity.description = currentMessage;\n  entity.priority = entity.priority || 'medium';\n  entity.category = (entity.category || 'question').toLowerCase();\n\n  resolvedProject = resolveProject(entity, { allowFallback: true });\n  if (resolvedProject) {\n    entity.project_id = resolvedProject.id;\n    entity.project_name = resolvedProject.name;\n    chatMemory.lastProjectId = resolvedProject.id;\n    chatMemory.lastProjectName = resolvedProject.name;\n  } else if (knownProjects.length > 0) {\n    chatMemory.pendingTicket = {\n      subject: entity.subject || entity.title || '',\n      description: entity.description || '',\n      priority: entity.priority || 'medium',\n      category: entity.category || 'question',\n      project_name: entity.project_name || '',\n    };\n    finalIntent = 'none';\n  }\n\n  chatMemory.pendingTask = null;\n}\n\nif (finalIntent === 'fetch_report') {\n  entity.scope = entity.scope || (/hoje/.test(m) ? 'today' : (/abert|ativas|ativos|pendente/.test(m) ? 'open' : 'all'));\n  entity.target = entity.target || (/(task|tarefa)/.test(m) && /(ticket|chamado)/.test(m)\n    ? 'both'\n    : (/(ticket|chamado)/.test(m) ? 'tickets' : (/(task|tarefa)/.test(m) ? 'tasks' : 'both')));\n\n  const msgProject = inferProjectFromMessage(currentMessage, knownProjects);\n  const explicitProjectCue = !!entity.project_id || !!entity.project_name || /\\b(projeto|project|id\\s*[0-9]+)\\b/.test(m) || !!msgProject;\n\n  if (explicitProjectCue) {\n    const seed = { ...entity };\n    if (msgProject) {\n      seed.project_id = seed.project_id || msgProject.id;\n      seed.project_name = seed.project_name || msgProject.name;\n    }\n    resolvedProject = resolveProject(seed, { allowFallback: false });\n    if (resolvedProject) {\n      entity.project_id = resolvedProject.id;\n      entity.project_name = resolvedProject.name;\n      chatMemory.lastProjectId = resolvedProject.id;\n      chatMemory.lastProjectName = resolvedProject.name;\n    }\n  } else {\n    entity.project_id = null;\n    entity.project_name = '';\n  }\n}\n\nif (finalIntent !== 'create_ticket') chatMemory.pendingTicket = null;\nif (finalIntent !== 'create_quote' && !forcedReply) chatMemory.pendingQuote = null;\n\nconst clientName = entity.client_name ||\n  (pm.groupContext === 'garlic' ? 'Garlic N Lemon' :\n   pm.groupContext === 'ernesto' ? 'Ernesto Pizza' : 'Angel Fly');\n\nlet reply = '';\nif (forcedReply) {\n  reply = forcedReply;\n} else if (finalIntent === 'none') {\n  if (chatMemory.pendingTask) {\n    reply = knownProjects.length > 0\n      ? '⚠️ Não consegui identificar o projeto da task. Me diga o projeto exato ou confirme que uso o padrão do grupo.'\n      : '⚠️ Não consegui carregar os projetos do Cockpit agora. Tenta novamente em instantes.';\n  } else if (chatMemory.pendingTicket) {\n    reply = knownProjects.length > 0\n      ? '⚠️ Não consegui identificar o projeto do ticket. Me diga o projeto exato ou confirme que uso o padrão do grupo.'\n      : '⚠️ Não consegui carregar os projetos do Cockpit agora. Tenta novamente em instantes.';\n  } else {\n    reply = parsed.reply || 'Entendido!';\n  }\n} else if (finalIntent === 'fetch_report') {\n  reply = 'Consultando Cockpit para montar o relatório...';\n} else {\n  reply = 'Processando sua solicitação...';\n}\n\nreturn [{ json: {\n  intent: finalIntent,\n  entity,\n  title: entity.title || entity.subject || '',\n  description: entity.description || '',\n  priority: entity.priority || 'medium',\n  project_id: entity.project_id || null,\n  project_name: entity.project_name || '',\n  subject: entity.subject || entity.title || '',\n  category: entity.category || 'question',\n  client_name: clientName,\n  amount: entity.amount || 0,\n  reply,\n  senderName: pm.senderName,\n  chatId: pm.chatId,\n  waChatId: replyTarget,\n  groupContext: pm.groupContext,\n  groupLabel: pm.groupLabel,\n  _debug_version: PARSE_VERSION,\n  _debug_intent: {\n    finalIntent,\n    parsedIntent,\n    isReport,\n    ticketAction,\n    taskAction,\n    quoteAction,\n    isMemoryStatusQuery,\n    isMemoryFirstQuery,\n  }\n}}];"
      },
      "id": "node-parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        380
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_task",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "task"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_ticket",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "ticket"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_project",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "project"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_payment_incoming",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "payment_in"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "create_payment_outgoing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "payment_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "fetch_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "report"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "none",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "none"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "node-route",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2200,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.title, description: $json.description || \"\", priority: $json.priority || \"medium\", status: \"assigned\", project_id: $json.project_id || null, project_name: $json.project_name || \"\", client_name: $json.client_name || \"\" }) }}",
        "options": {}
      },
      "id": "node-task",
      "name": "Create Task in Cockpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ subject: $json.subject || $json.title, description: $json.description || \"\", priority: $json.priority || \"medium\", status: \"open\", category: ($json.category || \"question\").toLowerCase(), client_name: $json.client_name || \"\", project_id: $json.project_id || null, project_name: $json.project_name || \"\" }) }}",
        "options": {}
      },
      "id": "node-ticket",
      "name": "Create Ticket in Cockpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.title, description: $json.description || \"\", status: \"active\" }) }}",
        "options": {}
      },
      "id": "node-project",
      "name": "Create Project in Cockpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/payments_incoming",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ description: $json.title + (($json.description && $json.description !== $json.title) ? \": \" + $json.description : \"\"), amount: $json.entity && $json.entity.amount ? $json.entity.amount : 0, status: \"pending\", client_name: $json.groupContext === \"angelfly\" ? \"Angel Fly\" : $json.groupContext === \"garlic\" ? \"Garlic N Lemon\" : $json.groupContext === \"ernesto\" ? \"Ernesto\" : $json.groupLabel }) }}",
        "options": {}
      },
      "id": "node-payment-in",
      "name": "Create Payment Incoming",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/payments_outgoing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ description: $json.title + (($json.description && $json.description !== $json.title) ? \": \" + $json.description : \"\"), amount: $json.entity && $json.entity.amount ? $json.entity.amount : 0, status: \"pending\" }) }}",
        "options": {}
      },
      "id": "node-payment-out",
      "name": "Create Payment Outgoing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const current = $json || {};\n  const source = $('Check Personality Command').isExecuted ? ($('Check Personality Command').first().json || {}) : {};\n\n  let intent = current.intent || 'none';\n  if (intent === 'none') {\n    if ((current.subject || current.category) && !current.title) intent = 'create_ticket';\n    else if (current.title && !current.subject) intent = 'create_task';\n    else if (current.name && current.status) intent = 'create_project';\n  }\n\n  const number = current.waChatId || current.chatId || source.waChatId || source.chatId;\n  let text = current.reply || 'Entendido!';\n\n  const hasError = !!current.error;\n  const errMsg = (current.error && (current.error.message || String(current.error))) || current.message || '';\n  const createdId = current.id || (current.data && current.data.id);\n\n  if (hasError) {\n    text = '⚠️ *Jarvis:* ação não pôde ser concluída.\\n\\nErro: ' + (errMsg || 'Falha na API do Cockpit.');\n  } else if (createdId) {\n    if (intent === 'create_task') {\n      text = '✅ Tarefa criada com sucesso no projeto \"' + (current.project_name || 'selecionado') + '\".';\n    } else if (intent === 'create_ticket') {\n      text = '🎫 Ticket registrado com sucesso para ' + (current.client_name || 'cliente') + '.';\n    } else if (intent === 'create_project') {\n      text = '🚀 Projeto criado com sucesso: \"' + (current.name || current.project_name || 'novo projeto') + '\".';\n    } else {\n      text = '✅ Ação concluída com sucesso no Cockpit.';\n    }\n  }\n\n  return JSON.stringify({ number, text });\n})() }}",
        "options": {}
      },
      "id": "node-reply",
      "name": "Reply on WhatsApp (Uzapi)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "node-respond",
      "name": "Respond to Uzapi",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2900,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-has-action",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-pre-route",
      "name": "Has Action Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1980,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.cleanMessage.toLowerCase();\n\n// Detect personality adjustment commands\nconst isPersonalityCmd = (\n  (msg.includes('humor') || msg.includes('seriedade') || msg.includes('sério') || msg.includes('serio') || msg.includes('personalidade'))\n  && (msg.includes('aument') || msg.includes('diminui') || msg.includes('reduz') || msg.includes('coloca') || msg.includes('%') || /\\d+/.test(msg))\n);\n\nreturn [{ json: { ...($input.first().json), isPersonalityCmd } }];"
      },
      "id": "node-personality-check",
      "name": "Check Personality Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-personality",
              "leftValue": "={{ $json.isPersonalityCmd }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-personality-if",
      "name": "Is Personality Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst msg = $input.first().json.cleanMessage.toLowerCase();\n\n// Current level (0 = serious, 100 = very funny)\nlet currentLevel = staticData.humorLevel !== undefined ? staticData.humorLevel : 30;\n\n// Extract percentage from message\nconst pctMatch = msg.match(/(\\d+)\\s*%/);\nconst numMatch = msg.match(/(\\d+)/);\nconst pct = pctMatch ? parseInt(pctMatch[1]) : (numMatch ? parseInt(numMatch[1]) : 20);\n\nlet newLevel = currentLevel;\nlet action = '';\n\nif (msg.includes('aument') || msg.includes('mais')) {\n  newLevel = Math.min(100, currentLevel + pct);\n  action = 'aumentado';\n} else if (msg.includes('diminui') || msg.includes('reduz') || msg.includes('menos')) {\n  newLevel = Math.max(0, currentLevel - pct);\n  action = 'reduzido';\n} else if (msg.includes('coloca') || msg.includes('define') || msg.includes('set')) {\n  newLevel = Math.min(100, Math.max(0, pct));\n  action = 'definido para';\n}\n\nstaticData.humorLevel = newLevel;\n\nconst levelDesc = newLevel <= 20 ? 'muito sério' : newLevel <= 40 ? 'sério' : newLevel <= 60 ? 'equilibrado' : newLevel <= 80 ? 'descontraído' : 'bem humorado';\n\nreturn [{ json: {\n  waChatId: $input.first().json.waChatId,\n  reply: `✅ Nível de humor ${action}: ${newLevel}% (${levelDesc}). Ajuste aplicado.`\n}}];"
      },
      "id": "node-personality-handle",
      "name": "Adjust Personality",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/message/find",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chatid: $json.chatId, limit: 50, offset: 0 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-get-history",
      "name": "Get Chat History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.groupMemory = staticData.groupMemory || {};\n\nconst humorLevel = staticData.humorLevel !== undefined ? staticData.humorLevel : 30;\nconst pm = $('Check Personality Command').first().json;\nconst chatId = pm.chatId || pm.waChatId || 'unknown';\n\nif (!staticData.groupMemory[chatId]) {\n  staticData.groupMemory[chatId] = {\n    messages: [],\n    lastProjectId: null,\n    lastProjectName: '',\n    pendingTask: null,\n    pendingTicket: null,\n  };\n}\nconst chatMemory = staticData.groupMemory[chatId];\n\nconst GROUP_KNOWLEDGE = {\n  garlic: {\n    default_client: \"Garlic'n Lemons\",\n    canonical_project: \"Garlic'n Lemons SaaS\",\n    aliases: [\"gnl\", \"garlic\", \"garlic n lemons\", \"garlic'n lemons\", \"gnl system\", \"gnl-backend\", \"gnl-pickup\", \"gnl-catering\"],\n    systems: [\"backend\", \"website\", \"pickup\", \"catering\"],\n    intent_hint: \"Neste grupo, task/ticket normalmente é do projeto Garlic'n Lemons.\"\n  },\n  ernesto: {\n    default_client: \"Ernesto's Pizza\",\n    canonical_project: \"Ernestos Pizza System\",\n    aliases: [\"ernestos\", \"ernesto's pizza\", \"north end\", \"somerville\", \"fax bridge\"],\n    systems: [\"backend\", \"website\", \"pickup\", \"catering\"],\n    intent_hint: \"Neste grupo, task/ticket normalmente é do projeto Ernesto's Pizza.\"\n  },\n  angelfly: {\n    default_client: \"Angel Fly\",\n    canonical_project: \"Angel Fly Cockpit\",\n    aliases: [\"cockpit\", \"jarvis\", \"angelfly\"],\n    systems: [\"cockpit\", \"n8n\", \"automation\"],\n    intent_hint: \"Neste grupo, pedidos geralmente são internos/operacionais da Angel Fly.\"\n  }\n};\n\nconst extractMessages = (raw) => {\n  if (!raw) return [];\n  return Array.isArray(raw) ? raw :\n    Array.isArray(raw?.messages) ? raw.messages :\n    Array.isArray(raw?.data?.messages) ? raw.data.messages :\n    Array.isArray(raw?.data?.data?.messages) ? raw.data.data.messages :\n    Array.isArray(raw?.data) ? raw.data :\n    Array.isArray(raw?.result?.messages) ? raw.result.messages :\n    [];\n};\n\nconst extractText = (m) => (\n  m?.text || m?.body || m?.messageText ||\n  m?.content?.conversation || m?.content?.extendedTextMessage?.text ||\n  m?.message?.conversation || m?.message?.extendedTextMessage?.text || ''\n).trim();\n\nlet historyText = '';\ntry {\n  const historyData = $('Debug History').first().json;\n  let msgs = historyData?._extractedMessages || [];\n\n  if (msgs.length === 0) {\n    const raw = $('Get Chat History').first().json;\n    msgs = extractMessages(raw);\n  }\n\n  const inboundText = (pm.cleanMessage || pm.rawMessage || '').trim();\n  if (inboundText) {\n    const last = chatMemory.messages?.[chatMemory.messages.length - 1];\n    if (!last || last.text !== inboundText) {\n      chatMemory.messages.push({\n        senderName: pm.senderName || 'Membro',\n        text: inboundText,\n        fromMe: false,\n        ts: Date.now(),\n      });\n    }\n  }\n\n  if (Array.isArray(chatMemory.messages) && chatMemory.messages.length > 150) {\n    chatMemory.messages = chatMemory.messages.slice(-150);\n  }\n\n  const memoryMsgs = Array.isArray(chatMemory.messages) ? chatMemory.messages : [];\n  const combined = [...msgs, ...memoryMsgs];\n\n  const lines = combined\n    .map(m => ({\n      name: m.fromMe ? 'ANGELFLY (Jarvis)' : (m.senderName || m.pushName || m.name || 'Membro'),\n      txt: extractText(m),\n    }))\n    .filter(x => x.txt && x.txt.length > 0)\n    .slice(-100)\n    .map(x => '[' + x.name + ']: ' + x.txt);\n\n  historyText = lines.length > 0\n    ? lines.join('\\n')\n    : '(histórico não disponível - responda com base na mensagem atual)';\n} catch (e) {\n  historyText = '(erro ao carregar histórico)';\n}\n\nlet projectsList = [];\nlet projectsRef = '  (nenhum projeto cadastrado)';\ntry {\n  const fetchItems = $('Fetch Projects').all();\n  const directRows = fetchItems.map(i => i.json).filter(Boolean);\n\n  let wrappedRows = [];\n  for (const row of directRows) {\n    if (Array.isArray(row)) wrappedRows.push(...row);\n    else if (Array.isArray(row?.data)) wrappedRows.push(...row.data);\n    else if (Array.isArray(row?.projects)) wrappedRows.push(...row.projects);\n    else if (Array.isArray(row?.items)) wrappedRows.push(...row.items);\n  }\n\n  const projs = wrappedRows.length > 0 ? wrappedRows : directRows;\n\n  const seen = new Set();\n  projectsList = projs\n    .filter(p => p && p.id !== undefined && p.name)\n    .filter(p => {\n      const k = String(p.id);\n      if (seen.has(k)) return false;\n      seen.add(k);\n      return true;\n    })\n    .filter(p => !p.status || ['active', 'assigned', 'in_progress', 'open'].includes(String(p.status).toLowerCase()))\n    .map(p => ({ id: p.id, name: p.name, client_name: p.client_name || '' }));\n\n  if (projectsList.length > 0) {\n    projectsRef = projectsList\n      .map(p => '  - id=' + p.id + ' | \"' + p.name + '\" | cliente: \"' + p.client_name + '\"')\n      .join('\\n');\n  }\n} catch (e) {\n  projectsList = [];\n}\n\nlet defaultProjectId = null;\nlet defaultProjectName = '';\nif (chatMemory.lastProjectId) {\n  const memProject = projectsList.find(p => String(p.id) === String(chatMemory.lastProjectId));\n  if (memProject) {\n    defaultProjectId = memProject.id;\n    defaultProjectName = memProject.name;\n  }\n}\n\nconst groupKnowledge = GROUP_KNOWLEDGE[pm.groupContext] || null;\nconst groupKnowledgeSnippet = groupKnowledge\n  ? [\n      'Projeto canônico: ' + groupKnowledge.canonical_project,\n      'Cliente padrão: ' + groupKnowledge.default_client,\n      'Aliases: ' + groupKnowledge.aliases.join(', '),\n      'Sistemas: ' + groupKnowledge.systems.join(', '),\n      'Regra: ' + groupKnowledge.intent_hint\n    ].join('\\n')\n  : 'Sem knowledge card específico para este grupo.';\n\nconst humorDesc = humorLevel <= 20 ? 'muito sério e formal, sem humor'\n  : humorLevel <= 40 ? 'profissional com leveza ocasional'\n  : humorLevel <= 60 ? 'equilibrado entre profissional e descontraído'\n  : humorLevel <= 80 ? 'descontraído com bom humor moderado'\n  : 'bem humorado e leve, com humor frequente';\n\nreturn [{ json: {\n  ...pm,\n  humorLevel,\n  humorDesc,\n  projectsRef,\n  projectsList: JSON.stringify(projectsList),\n  historyText,\n  defaultProjectId,\n  defaultProjectName,\n  cleanMessage: pm.cleanMessage || pm.rawMessage || '',\n  groupKnowledgeSnippet,\n} }];"
      },
      "id": "node-build-context",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        380
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-fetch-projects",
      "name": "Fetch Projects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const current = $json || {};\n  const source = $('Check Personality Command').isExecuted ? ($('Check Personality Command').first().json || {}) : {};\n  const number = current.waChatId || current.chatId || source.waChatId || source.chatId || '120363426390515923@g.us';\n  const err = ((current.error && current.error.message) ? current.error.message : '') || current.message || 'Falha na API do Cockpit. Tente novamente ou verifique os dados.';\n  return JSON.stringify({ number, text: '⚠️ *Jarvis:* ação não pôde ser concluída.\\n\\nErro: ' + err });\n})() }}",
        "options": {}
      },
      "id": "node-error-notify",
      "name": "Notify Error on WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2200,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Debug: inspect raw Get Chat History response\nconst raw = $input.first().json;\nconsole.log('RAW HISTORY KEYS:', Object.keys(raw || {}));\nconsole.log('RAW HISTORY:', JSON.stringify(raw).slice(0, 500));\n\n// Try all known Uzapi response shapes\nconst msgs =\n  Array.isArray(raw) ? raw :\n  Array.isArray(raw?.messages) ? raw.messages :\n  Array.isArray(raw?.data?.messages) ? raw.data.messages :\n  Array.isArray(raw?.data) ? raw.data :\n  [];\n\nconsole.log('MESSAGES FOUND:', msgs.length);\nif (msgs.length > 0) console.log('FIRST MSG KEYS:', Object.keys(msgs[0]));\n\n// Pass through original data + extracted messages\nreturn [{ json: { ...raw, _extractedMessages: msgs, _msgCount: msgs.length } }];"
      },
      "id": "node-debug-history",
      "name": "Debug History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-fetch-tasks-report",
      "name": "Fetch Tasks in Cockpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/tickets",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-fetch-tickets-report",
      "name": "Fetch Tickets in Cockpit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2680,
        660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse AI Response').isExecuted\n  ? ($('Parse AI Response').first().json || {})\n  : ($input.first().json || {});\n\nconst tasksRaw = $items('Fetch Tasks in Cockpit').map(i => i.json);\nconst ticketsRaw = $items('Fetch Tickets in Cockpit').map(i => i.json);\n\nconst normalize = (v) => String(v || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[^a-z0-9\\s]/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst extractRecords = (value, depth = 0) => {\n  if (depth > 6 || value == null) return [];\n  if (Array.isArray(value)) return value.flatMap(v => extractRecords(v, depth + 1));\n  if (typeof value !== 'object') return [];\n\n  const nestedKeys = ['data', 'items', 'rows', 'results', 'result', 'tasks', 'tickets', 'records'];\n  for (const key of nestedKeys) {\n    if (Array.isArray(value[key])) return extractRecords(value[key], depth + 1);\n    if (value[key] && typeof value[key] === 'object') {\n      const nested = extractRecords(value[key], depth + 1);\n      if (nested.length) return nested;\n    }\n  }\n\n  if ('id' in value && ('title' in value || 'subject' in value || 'status' in value || 'project_id' in value || 'project_name' in value || 'client_name' in value)) {\n    return [value];\n  }\n\n  return [];\n};\n\nconst uniqById = (arr) => {\n  const seen = new Set();\n  const out = [];\n  for (const x of arr || []) {\n    const key = String((x && x.id !== undefined) ? x.id : JSON.stringify(x));\n    if (seen.has(key)) continue;\n    seen.add(key);\n    out.push(x);\n  }\n  return out;\n};\n\nconst ticketCategory = (c) => normalize(c);\nconst isTicketRow = (x) => {\n  if (!x || x.id === undefined) return false;\n  const cat = ticketCategory(x.category || '');\n  if (['team record', 'client record', 'professional'].includes(cat)) return false;\n  if (x.subject) return true;\n  return ['bug', 'change request', 'question', 'complaint', 'incident', 'support'].includes(cat);\n};\n\nconst isTaskRow = (x) => {\n  if (!x || x.id === undefined) return false;\n  const cat = ticketCategory(x.category || '');\n  if (['team record', 'client record', 'professional'].includes(cat)) return false;\n  return !!(x.title || x.description || x.project_id || x.project_name);\n};\n\nconst tasks = uniqById(extractRecords(tasksRaw).filter(isTaskRow));\nconst tickets = uniqById(extractRecords(ticketsRaw).filter(isTicketRow));\n\nconst scope = normalize(parsed.entity?.scope || 'all');\nconst target = normalize(parsed.entity?.target || 'both');\nconst projectId = parsed.project_id || parsed.entity?.project_id || null;\nconst projectName = normalize(parsed.project_name || parsed.entity?.project_name || '');\nconst groupContext = parsed.groupContext || '';\nconst today = new Date().toISOString().slice(0, 10);\n\nconst isOpen = (s) => !['closed', 'completed', 'cancelled', 'resolved', 'done'].includes(normalize(s));\nconst dateOf = (obj) => {\n  const d = obj?.due_date || obj?.deadline || obj?.date || obj?.created_date || obj?.created_at || obj?.updated_at || '';\n  return String(d).slice(0, 10);\n};\n\nconst projectMatch = (obj) => {\n  const objProjectId = obj?.project_id != null ? String(obj.project_id) : '';\n  const objProject = normalize(obj?.project_name || '');\n  const objClient = normalize(obj?.client_name || '');\n\n  if (projectId != null && String(projectId) !== '') {\n    return objProjectId === String(projectId);\n  }\n\n  if (projectName) {\n    return objProject.includes(projectName) || objClient.includes(projectName);\n  }\n\n  if (groupContext === 'garlic') return /garlic|gnl/.test(objProject + ' ' + objClient);\n  if (groupContext === 'ernesto') return /ernesto/.test(objProject + ' ' + objClient);\n  if (groupContext === 'angelfly') return /angel\\s*fly|cockpit/.test(objProject + ' ' + objClient);\n\n  return true;\n};\n\nconst scoped = (arr, kind) => arr.filter(x => {\n  if (!projectMatch(x)) return false;\n  if (scope === 'today') return dateOf(x) === today;\n  if (scope === 'open') return isOpen(kind === 'ticket' ? (x.status || 'open') : (x.status || 'assigned'));\n  return true;\n});\n\nconst fTasks = scoped(tasks, 'task');\nconst fTickets = scoped(tickets, 'ticket');\n\nconst top = (arr, fieldName) => arr.slice(0, 6).map((x, idx) => {\n  const name = x[fieldName] || x.title || x.subject || '(sem título)';\n  const st = x.status || '-';\n  const pr = x.priority || '-';\n  return String(idx + 1) + '. ' + name + ' [' + st + '/' + pr + ']';\n});\n\nlet text = '📊 Relatório Cockpit';\nif (parsed.project_name) text += ' - ' + parsed.project_name;\ntext += '\\nFiltro: ' + scope + ' | ' + target;\n\nconst hasApiError = tasksRaw.some(x => x && x.error) || ticketsRaw.some(x => x && x.error);\nif (hasApiError && fTasks.length === 0 && fTickets.length === 0) {\n  text = '⚠️ Erro ao consultar a API do Cockpit.\\nNão foi possível obter os dados no momento.';\n} else {\n  if (target === 'tasks' || target === 'both') {\n    text += '\\n\\n🧩 Tasks (' + fTasks.length + ')';\n    if (fTasks.length) text += '\\n' + top(fTasks, 'title').join('\\n');\n  }\n\n  if (target === 'tickets' || target === 'both') {\n    text += '\\n\\n🎫 Tickets (' + fTickets.length + ')';\n    if (fTickets.length) text += '\\n' + top(fTickets, 'subject').join('\\n');\n  }\n\n  if ((target === 'tasks' && fTasks.length === 0) || (target === 'tickets' && fTickets.length === 0) || (target === 'both' && fTasks.length === 0 && fTickets.length === 0)) {\n    text += '\\n\\nNenhum item encontrado com esse filtro.';\n  }\n}\n\nreturn [{ json: { ...parsed, reply: text, waChatId: parsed.waChatId || parsed.chatId } }];"
      },
      "id": "node-build-report",
      "name": "Build Cockpit Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        660
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.waChatId, text: $json.reply }) }}",
        "options": {}
      },
      "id": "node-send-report",
      "name": "Send Report on WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3200,
        660
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-node-if-report-intent",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "fetch_report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-report-intent",
      "name": "Is Report Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2200,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-node-if-ticket-intent",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "create_ticket",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-ticket-intent",
      "name": "Is Ticket Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2440,
        560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-node-if-task-intent",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "create_task",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if-task-intent",
      "name": "Is Task Intent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2680,
        560
      ]
    }
  ],
  "connections": {
    "Webhook (Uzapi)": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Filter: Group & @Jarvis?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Group & @Jarvis?": {
      "main": [
        [
          {
            "node": "Check Personality Command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ignore (Wrong Group or No Mention)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI — Interpret Intent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Has Action Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [],
        [],
        [
          {
            "node": "Create Project in Cockpit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Payment Incoming",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Payment Outgoing",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task in Cockpit": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket in Cockpit": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Project in Cockpit": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Incoming": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Payment Outgoing": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Error on WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply on WhatsApp (Uzapi)": {
      "main": [
        [
          {
            "node": "Respond to Uzapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Action Intent?": {
      "main": [
        [
          {
            "node": "Is Report Intent?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Personality Command": {
      "main": [
        [
          {
            "node": "Is Personality Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Personality Command?": {
      "main": [
        [
          {
            "node": "Adjust Personality",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Chat History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adjust Personality": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat History": {
      "main": [
        [
          {
            "node": "Debug History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          {
            "node": "OpenAI — Interpret Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Projects": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug History": {
      "main": [
        [
          {
            "node": "Fetch Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tasks in Cockpit": {
      "main": [
        [
          {
            "node": "Fetch Tickets in Cockpit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Tickets in Cockpit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tickets in Cockpit": {
      "main": [
        [
          {
            "node": "Build Cockpit Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Cockpit Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Cockpit Report": {
      "main": [
        [
          {
            "node": "Reply on WhatsApp (Uzapi)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report on WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Uzapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Report Intent?": {
      "main": [
        [
          {
            "node": "Fetch Tasks in Cockpit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Ticket Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ticket Intent?": {
      "main": [
        [
          {
            "node": "Create Ticket in Cockpit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Is Task Intent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Task Intent?": {
      "main": [
        [
          {
            "node": "Create Task in Cockpit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "jarvis-angelfly-v5"
  }
}
