n8n/JARVIS_MAIN.json
{
  "name": "Jarvis Main — WhatsApp → Assistant → Cockpit (v2.0)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jarvis-main",
        "options": {}
      },
      "id": "webhook-in",
      "name": "UAZAPI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "webhookId": "8324a664-d55c-4556-85c6-33c5de2958cb"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Parse incoming WhatsApp message + filter + media detection\n// ─────────────────────────────────────────────\nconst body = $input.item.json.body || $input.item.json;\nconst msg = body.message || body;\n\nconst chatId = msg.chatid || msg.chat?.id || msg.from || body.chat?.wa_chatid || '';\nconst messageId = msg.messageid || msg.id || '';\nconst senderName = msg.senderName || msg.sender?.name || msg.pushname || msg.notifyName || 'Unknown';\nconst senderPhone = String(msg.sender_pn || msg.sender?.id || msg.author || msg.from || '').replace(/@.*/, '');\nconst rawText = msg.text || msg.body || msg.message?.conversation || msg.conversation || msg.caption || '';\nconst fromMe = !!msg.fromMe;\nconst isGroup = chatId.endsWith('@g.us');\n\nif (fromMe) {\n  return [{ json: { skip: true, reason: 'fromMe' } }];\n}\n\n// Media detection — UAZAPI fields\nconst mediaTypeRaw = String(msg.mediaType || msg.type || msg.messageType || '').toLowerCase();\nconst isMedia = ['document','image','audio','video','sticker'].some(t => mediaTypeRaw.includes(t));\nconst mediaInfo = isMedia ? {\n  type: mediaTypeRaw,\n  fileName: msg.fileName || msg.filename || msg.documentName || msg.title || '',\n  caption: msg.caption || msg.text || '',\n  mimeType: msg.mimetype || msg.mimeType || '',\n  url: msg.url || msg.fileUrl || msg.mediaUrl || ''\n} : null;\n\nconst GROUPS = {\n  '120363426390515923@g.us': { context: 'angelfly', label: 'Angel Fly Marketing Geral' },\n  '120363420996892188@g.us': { context: 'garlic',   label: 'Garlic N Lemon | Branding' },\n  '120363422948599063@g.us': { context: 'ernesto',  label: 'Ernesto | Site & Identidade Visual' }\n};\nconst group = GROUPS[chatId] || { context: 'unknown', label: 'Unknown' };\n\nconst lower = String(rawText).toLowerCase();\nconst mentioned = /@\\s*jarvis\\b/.test(lower)\n  || /\\bjarvis\\b/.test(lower)\n  || (msg.mentioned_jid || []).some(j => String(j).includes('59739253801103'));\n\nif (!mentioned && !isMedia) {\n  return [{ json: { skip: true, reason: 'not_mentioned', chatId, messageId } }];\n}\n\n// If only media without mention, also skip (avoid responding to every photo in group)\nif (!mentioned) {\n  return [{ json: { skip: true, reason: 'media_without_mention', chatId, messageId } }];\n}\n\nconst cleanText = String(rawText).replace(/@\\s*jarvis\\b/gi, '').replace(/\\s+/g, ' ').trim();\n\n// Allow empty cleanText if media (the file is the message)\nif (!cleanText && !isMedia) {\n  return [{ json: { skip: true, reason: 'empty_after_clean', chatId, messageId } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    chatId, messageId, senderName, senderPhone,\n    rawText, cleanText: cleanText || '(sem texto, só anexo)',\n    isGroup,\n    groupContext: group.context,\n    groupLabel: group.label,\n    hasMedia: isMedia,\n    mediaInfo,\n    receivedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-filter",
      "name": "Parse & Filter Mention",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/jarvis_conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "wa_chat_id",
              "value": "={{ $json.chatId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-conv-state",
      "name": "Get Conversation State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Resolve OpenAI thread_id (existing or null = create)\n// ─────────────────────────────────────────────\nconst parsed = $('Parse & Filter Mention').item.json;\nconst convResp = $input.item.json;\nconst rows = Array.isArray(convResp) ? convResp : (convResp?.data || []);\nconst existing = rows.find(r => r && r.wa_chat_id === parsed.chatId);\n\nreturn [{\n  json: {\n    ...parsed,\n    threadId: existing?.openai_thread_id || null,\n    convId: existing?.id || null,\n    humorLevel: existing?.humor_level || 50,\n    needsThread: !existing?.openai_thread_id\n  }\n}];"
      },
      "id": "resolve-thread",
      "name": "Resolve Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "needs-thread",
              "leftValue": "={{ $json.needsThread }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-needs-thread",
      "name": "Needs New Thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"metadata\": { \"wa_chat_id\": \"{{ $json.chatId }}\", \"group\": \"{{ $json.groupContext }}\" } }",
        "options": {}
      },
      "id": "create-thread",
      "name": "Create OpenAI Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge new threadId back into the data\nconst meta = $('Resolve Thread').item.json;\nconst threadResp = $input.item.json;\nconst threadId = threadResp.id || meta.threadId;\nreturn [{ json: { ...meta, threadId, justCreatedThread: true } }];"
      },
      "id": "merge-new-thread",
      "name": "Merge New Thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1740,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json.threadId }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.messageBody) }}",
        "options": {}
      },
      "id": "add-message",
      "name": "Add Message to Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        420
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge New Thread').item.json.threadId || $('Resolve Thread').item.json.threadId }}/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"assistant_id\": \"asst_M96rOKg3MHDDOdOlJwCNjC7y\" }",
        "options": {}
      },
      "id": "create-run",
      "name": "Create Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        420
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 3000,
      "continueOnFail": false
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-poll",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2840,
        420
      ],
      "webhookId": "137ef579-d252-47ca-a08c-cfaa540f7eda"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge New Thread').item.json.threadId || $('Resolve Thread').item.json.threadId }}/runs/{{ $('Create Run').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "get-run-status",
      "name": "Get Run Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "requires_action",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "requires_action"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "queued|in_progress",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in_progress"
            }
          ]
        },
        "fallbackOutput": "extra",
        "options": {}
      },
      "id": "switch-status",
      "name": "Switch Run Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3280,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────\n// Tool Dispatcher v2.2 — fail-loud on unresolved project/user\n//  - If project_name given but not in DB -> error with available list\n//  - If assigned_to_name given but not in DB -> error with team list\n//  - get_today_briefing returns expanded scope (today + overdue + recent)\n// ─────────────────────────────────────────────\nconst run = $input.item.json;\nconst toolCalls = run.required_action?.submit_tool_outputs?.tool_calls || [];\nconst COCKPIT = 'https://cockpit.angelfly.io/api';\nconst TOKEN = '5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16';\nconst headers = { 'Authorization': 'Bearer ' + TOKEN, 'Content-Type': 'application/json' };\n\nasync function cockpitGet(path) {\n  return await this.helpers.httpRequest({ method: 'GET', url: COCKPIT + path, headers, json: true, returnFullResponse: false });\n}\nasync function cockpitPost(path, body) {\n  return await this.helpers.httpRequest({ method: 'POST', url: COCKPIT + path, headers, body, json: true, returnFullResponse: false });\n}\n\nfunction norm(v) { return String(v||'').toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').trim(); }\n\nasync function fetchProjects() {\n  const list = await cockpitGet.call(this, '/projects');\n  return Array.isArray(list) ? list : (list?.data || []);\n}\nasync function fetchUsers() {\n  const list = await cockpitGet.call(this, '/users');\n  return Array.isArray(list) ? list : (list?.data || []);\n}\n\nfunction resolveProject(name, projects) {\n  if (!name) return { id: null, found: true, project: null };\n  const t = norm(name);\n  const match = projects.find(p => norm(p.name) === t)\n    || projects.find(p => norm(p.name).includes(t))\n    || projects.find(p => t.includes(norm(p.name)));\n  if (match) return { id: match.id, found: true, project: match };\n  return { id: null, found: false, available: projects.map(p => p.name) };\n}\nfunction resolveUser(name, users) {\n  if (!name) return { id: null, found: true, user: null };\n  const t = norm(name);\n  const userName = (u) => u.name || u.full_name || u.username || '';\n  const match = users.find(u => norm(userName(u)) === t)\n    || users.find(u => norm(userName(u)).includes(t))\n    || users.find(u => t.includes(norm(userName(u))));\n  if (match) return { id: match.id, found: true, user: match };\n  return { id: null, found: false, available: users.map(u => userName(u)) };\n}\n\nfunction filterByGroup(items, ctx) {\n  if (!ctx || ctx === 'all') return items;\n  return items.filter(it => {\n    const blob = norm(it.project_name||'') + ' ' + norm(it.client_name||'');\n    if (ctx === 'garlic')   return /garlic|gnl|lemons/.test(blob);\n    if (ctx === 'ernesto')  return /ernesto|northend|north end|somerville|fax bridge|faxbridge/.test(blob);\n    if (ctx === 'angelfly') return /angel\\s*fly|angelfly|cockpit|jarvis/.test(blob);\n    return true;\n  });\n}\n\nconst today = new Date(Date.now() - 3*3600000).toISOString().slice(0,10);\nconst isOpen = (s) => !['done','closed','cancelled','resolved','completed'].includes(norm(s));\nconst daysOverdue = (deadline) => {\n  if (!deadline) return 0;\n  const d = new Date(deadline.slice(0,10) + 'T12:00:00Z');\n  const t = new Date(today + 'T12:00:00Z');\n  return Math.max(0, Math.round((t - d) / 86400000));\n};\n\nfunction summarize(t) {\n  return {\n    id: t.id, title: t.title || t.subject,\n    status: t.status || 'unknown',\n    project_name: t.project_name || null,\n    client_name: t.client_name || null,\n    assigned_to_name: t.assigned_to_name || null,\n    priority: t.priority || 'medium',\n    deadline: t.deadline || null,\n    days_overdue: t.deadline && t.deadline < today ? daysOverdue(t.deadline) : 0\n  };\n}\n\nasync function handleTool(call) {\n  const name = call.function.name;\n  let args = {};\n  try { args = JSON.parse(call.function.arguments || '{}'); } catch (e) {}\n  try {\n    let output;\n    switch (name) {\n      case 'create_task':\n      case 'create_ticket': {\n        const projects = await fetchProjects.call(this);\n        const users    = name === 'create_task' ? await fetchUsers.call(this) : [];\n\n        const projRes = resolveProject(args.project_name, projects);\n        if (args.project_name && !projRes.found) {\n          output = {\n            success: false,\n            error: 'project_not_found',\n            message: `Projeto '${args.project_name}' nao existe no Cockpit. Pergunte ao usuario qual eh o correto.`,\n            available_projects: projRes.available\n          };\n          break;\n        }\n        const userRes = name === 'create_task' ? resolveUser(args.assigned_to_name, users) : { id: null, found: true };\n        if (name === 'create_task' && args.assigned_to_name && !userRes.found) {\n          output = {\n            success: false,\n            error: 'user_not_found',\n            message: `Usuario '${args.assigned_to_name}' nao existe no Cockpit. Pergunte ao usuario quem deve receber a task.`,\n            available_users: userRes.available\n          };\n          break;\n        }\n\n        const body = name === 'create_task' ? {\n          title: args.title,\n          description: args.description || '',\n          project_id: projRes.id,\n          project_name: projRes.project?.name || args.project_name || null,\n          priority: args.priority || 'medium',\n          status: 'backlog',\n          deadline: args.deadline || null,\n          assigned_to: userRes.id,\n          assigned_to_name: userRes.user ? (userRes.user.name || userRes.user.full_name || userRes.user.username) : null\n        } : {\n          subject: args.subject,\n          description: args.description || '',\n          category: args.category || 'bug',\n          priority: args.priority || 'medium',\n          status: 'open',\n          client_name: args.client_name || projRes.project?.client_name || null,\n          project_id: projRes.id,\n          project_name: projRes.project?.name || args.project_name || null\n        };\n        const created = await cockpitPost.call(this, name === 'create_task' ? '/tasks' : '/tickets', body);\n        const newId = created.id || created.data?.id;\n        if (!newId) {\n          output = { success: false, error: 'create_failed', message: 'POST retornou sem id. Backend pode ter rejeitado.', raw: created };\n        } else {\n          output = { success: true, id: newId, ...body };\n        }\n        break;\n      }\n      case 'create_project': {\n        const body = {\n          name: args.name, client_name: args.client_name,\n          scope_description: args.scope_description || '',\n          status: 'active',\n          payment_type: args.payment_type || 'one-time',\n          total_budget: args.total_budget || 0\n        };\n        const created = await cockpitPost.call(this, '/projects', body);\n        output = { success: true, id: created.id || created.data?.id, ...body };\n        break;\n      }\n      case 'create_payment_incoming': {\n        const body = {\n          description: args.description || '', amount: args.amount,\n          client_name: args.client_name, status: args.status || 'pending'\n        };\n        const created = await cockpitPost.call(this, '/payments_incoming', body);\n        output = { success: true, id: created.id || created.data?.id, ...body };\n        break;\n      }\n      case 'create_payment_outgoing': {\n        const body = {\n          description: args.description || '', amount: args.amount,\n          recipient_name: args.recipient_name\n        };\n        const created = await cockpitPost.call(this, '/payments_outgoing', body);\n        output = { success: true, id: created.id || created.data?.id, ...body };\n        break;\n      }\n      case 'create_quote': {\n        const body = {\n          title: args.title, description: args.description || '',\n          client_name: args.client_name, amount: args.amount,\n          valid_until: args.valid_until || null, status: 'draft'\n        };\n        const created = await cockpitPost.call(this, '/quotes', body);\n        output = { success: true, id: created.id || created.data?.id, ...body };\n        break;\n      }\n      case 'list_projects': {\n        const projects = await fetchProjects.call(this);\n        output = projects.map(p => ({ id: p.id, name: p.name, client_name: p.client_name, status: p.status }));\n        break;\n      }\n      case 'list_users': {\n        const users = await fetchUsers.call(this);\n        output = users.map(u => ({ id: u.id, name: u.name || u.full_name || u.username, role: u.role }));\n        break;\n      }\n      case 'get_overdue_tasks': {\n        const list = await cockpitGet.call(this, '/tasks?limit=300');\n        const arr = Array.isArray(list) ? list : (list?.data || []);\n        let overdue = arr.filter(t => isOpen(t.status) && t.deadline && t.deadline.slice(0,10) < today);\n        if (args.group_context && args.group_context !== 'all') overdue = filterByGroup(overdue, args.group_context);\n        overdue.sort((a,b) => daysOverdue(b.deadline) - daysOverdue(a.deadline));\n        output = overdue.map(summarize);\n        break;\n      }\n      case 'get_today_briefing': {\n        const [tasksR, ticketsR] = await Promise.all([\n          cockpitGet.call(this, '/tasks?limit=300'),\n          cockpitGet.call(this, '/tickets?limit=300')\n        ]);\n        const allTasks   = filterByGroup(Array.isArray(tasksR)   ? tasksR   : (tasksR?.data || []),   args.group_context);\n        const allTickets = filterByGroup(Array.isArray(ticketsR) ? ticketsR : (ticketsR?.data || []), args.group_context);\n        const openTasks   = allTasks.filter(t => isOpen(t.status));\n        const openTickets = allTickets.filter(t => isOpen(t.status));\n        output = {\n          group: args.group_context,\n          today_tasks:    openTasks.filter(t => (t.deadline||'').slice(0,10) === today).map(summarize),\n          overdue_tasks:  openTasks.filter(t => t.deadline && t.deadline.slice(0,10) < today).map(summarize),\n          in_progress:    openTasks.filter(t => norm(t.status) === 'in_progress' || norm(t.status) === 'assigned').map(summarize),\n          backlog:        openTasks.filter(t => norm(t.status) === 'backlog').slice(0, 10).map(summarize),\n          review:         openTasks.filter(t => norm(t.status) === 'review' || norm(t.status) === 'client_approval').map(summarize),\n          recent_tickets: openTickets.slice(0, 10).map(summarize),\n          totals: { open_tasks: openTasks.length, open_tickets: openTickets.length }\n        };\n        break;\n      }\n      default:\n        output = { error: 'unknown_tool: ' + name };\n    }\n    return { tool_call_id: call.id, output: JSON.stringify(output) };\n  } catch (err) {\n    return { tool_call_id: call.id, output: JSON.stringify({ success: false, error: 'exception', message: err.message }) };\n  }\n}\n\nconst results = [];\nfor (const c of toolCalls) {\n  const r = await handleTool.call(this, c);\n  results.push(r);\n}\n\nreturn [{ json: { tool_outputs: results, runId: run.id, threadId: run.thread_id } }];"
      },
      "id": "tool-dispatcher",
      "name": "Tool Dispatcher",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $json.threadId }}/runs/{{ $json.runId }}/submit_tool_outputs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"tool_outputs\": {{ JSON.stringify($json.tool_outputs) }} }",
        "options": {}
      },
      "id": "submit-outputs",
      "name": "Submit Tool Outputs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.openai.com/v1/threads/{{ $('Merge New Thread').item.json.threadId || $('Resolve Thread').item.json.threadId }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "order",
              "value": "desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "OpenAI-Beta",
              "value": "assistants=v2"
            }
          ]
        },
        "options": {}
      },
      "id": "get-last-message",
      "name": "Get Last Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract assistant text from response\nconst data = $input.item.json;\nconst messages = data.data || [];\nconst assistantMsg = messages.find(m => m.role === 'assistant');\nlet text = '';\nif (assistantMsg) {\n  const blocks = assistantMsg.content || [];\n  text = blocks.filter(b => b.type === 'text').map(b => b.text?.value || '').join('\\n').trim();\n}\nif (!text) text = '🤖 (sem resposta)';\n\nconst meta = $('Resolve Thread').item.json;\nreturn [{ json: { ...meta, replyText: text, threadId: $('Merge New Thread').item.json?.threadId || meta.threadId } }];"
      },
      "id": "format-reply",
      "name": "Format Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3720,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"number\": \"{{ $json.chatId }}\", \"text\": {{ JSON.stringify($json.replyText) }} }",
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3940,
        540
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cockpit.angelfly.io/api/jarvis_conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"wa_chat_id\": \"{{ $json.chatId }}\",\n  \"group_context\": \"{{ $json.groupContext }}\",\n  \"openai_thread_id\": \"{{ $json.threadId }}\",\n  \"last_message_id\": \"{{ $json.messageId }}\",\n  \"last_processed_at\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "upsert-conv",
      "name": "Upsert Conversation State",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build error reply\nconst run = $input.item.json;\nconst meta = $('Parse & Filter Mention').item.json;\nlet text = '⚠️ Jarvis: deu ruim aqui. ';\nif (run.last_error?.message) text += '(' + run.last_error.message + ') ';\ntext += 'Tenta de novo em 30s.';\nreturn [{ json: { ...meta, replyText: text } }];"
      },
      "id": "build-error",
      "name": "Build Error Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://angelfly.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "a232b655-1733-46c1-b872-1f82782b9cbe"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"number\": \"{{ $json.chatId }}\", \"text\": {{ JSON.stringify($json.replyText) }} }",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "send-error",
      "name": "Send Error Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3720,
        720
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/projects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-projects-ctx",
      "name": "Fetch Projects (context)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1740,
        420
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://cockpit.angelfly.io/api/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 5415d97c31b4ab3198a637234c4a76af86bd3d28ee9ebe9fe9c348f2f2c54c16"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-users-ctx",
      "name": "Fetch Users (context)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1960,
        420
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build user message with live context (projects + team + media + OpenAI file upload)\nconst meta = $('Merge New Thread').first()?.json || $('Resolve Thread').first().json;\nconst projResp = $('Fetch Projects (context)').item.json;\nconst userResp = $('Fetch Users (context)').item.json;\n\nconst UAZAPI_TOKEN = 'a232b655-1733-46c1-b872-1f82782b9cbe';\nconst OPENAI_KEY = '__JARVIS_OPENAI_KEY__';\n\nconst projects = Array.isArray(projResp) ? projResp : (projResp?.data || []);\nconst users    = Array.isArray(userResp) ? userResp : (userResp?.data || []);\n\nconst activeProjects = projects.filter(p => (p.status || 'active') !== 'inactive')\n  .map(p => `- ${p.name}${p.client_name ? ' (cliente: ' + p.client_name + ')' : ''} [id=${p.id}]`)\n  .join('\\n');\nconst teamList = users.filter(u => u.status !== 'inactive')\n  .map(u => `- ${u.name || u.full_name || u.username} [id=${u.id}, role=${u.role || 'unknown'}]`)\n  .join('\\n');\n\n// ── Phase 2: download from UAZAPI + upload to OpenAI Files ──\nlet openai_file_id = null;\nlet mediaBlock = '';\nlet mediaError = null;\n\nif (meta.hasMedia && meta.messageId) {\n  const m = meta.mediaInfo || {};\n  try {\n    // 1. Get download URL from UAZAPI\n    const dl = await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://angelfly.uazapi.com/message/download',\n      headers: { 'token': UAZAPI_TOKEN, 'Content-Type': 'application/json' },\n      body: { id: meta.messageId, return_link: true, transcribe: false },\n      json: true,\n      returnFullResponse: false\n    });\n    const fileURL = dl?.fileURL || dl?.url || dl?.link || dl?.fileUrl || dl?.data?.fileURL;\n\n    if (!fileURL) {\n      mediaError = 'no_url_returned';\n    } else {\n      // 2. Download binary\n      const binary = await this.helpers.httpRequest({\n        method: 'GET',\n        url: fileURL,\n        encoding: 'arraybuffer',\n        returnFullResponse: false\n      });\n\n      // 3. Upload to OpenAI Files (multipart)\n      const buf = Buffer.from(binary);\n      const filename = m.fileName || ('attachment_' + Date.now() + (m.mimeType?.includes('pdf') ? '.pdf' : ''));\n      const upload = await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.openai.com/v1/files',\n        headers: { 'Authorization': 'Bearer ' + OPENAI_KEY },\n        formData: {\n          file: { value: buf, options: { filename, contentType: m.mimeType || 'application/octet-stream' } },\n          purpose: 'assistants'\n        },\n        json: true,\n        returnFullResponse: false\n      });\n      openai_file_id = upload?.id || upload?.data?.id;\n\n      if (!openai_file_id) mediaError = 'no_file_id_from_openai';\n    }\n  } catch (err) {\n    mediaError = 'exception: ' + (err.message || err);\n  }\n\n  if (openai_file_id) {\n    mediaBlock = `\\n\\n[ARQUIVO ANEXO: tipo=${m.type || '?'}${m.fileName ? ', nome=\"' + m.fileName + '\"' : ''}${m.caption ? ', legenda=\"' + m.caption + '\"' : ''}]\\n[FILE_ID OPENAI: ${openai_file_id} — voce TEM acesso ao conteudo via file_search]`;\n  } else {\n    mediaBlock = `\\n\\n[ARQUIVO ANEXO: tipo=${m.type || '?'}${m.fileName ? ', nome=\"' + m.fileName + '\"' : ''}${m.caption ? ', legenda=\"' + m.caption + '\"' : ''}]\\n[Erro ao processar arquivo: ${mediaError || 'desconhecido'} — peca pro usuario descrever em texto]`;\n  }\n}\n\nconst content = `[Grupo: ${meta.groupLabel} | Contexto: ${meta.groupContext} | De: ${meta.senderName}]\n\nCONTEXTO ATUAL DO COCKPIT (use estes nomes EXATOS ao chamar tools):\n\nPROJETOS ATIVOS:\n${activeProjects || '(nenhum)'}\n\nEQUIPE:\n${teamList || '(nenhum)'}\n\nMENSAGEM DO USUARIO:\n${meta.cleanText}${mediaBlock}`;\n\n// Build the full OpenAI message body (with attachments if file uploaded)\nconst messageBody = { role: 'user', content };\nif (openai_file_id) {\n  messageBody.attachments = [{ file_id: openai_file_id, tools: [{ type: 'file_search' }] }];\n}\n\nreturn [{ json: { ...meta, content, messageBody, openai_file_id, mediaError, threadId: meta.threadId } }];"
      },
      "id": "build-context-msg",
      "name": "Build Context Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        420
      ]
    }
  ],
  "connections": {
    "UAZAPI Webhook": {
      "main": [
        [
          {
            "node": "Parse & Filter Mention",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Filter Mention": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Get Conversation State",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Conversation State": {
      "main": [
        [
          {
            "node": "Resolve Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Thread": {
      "main": [
        [
          {
            "node": "Needs New Thread?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs New Thread?": {
      "main": [
        [
          {
            "node": "Create OpenAI Thread",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Projects (context)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create OpenAI Thread": {
      "main": [
        [
          {
            "node": "Merge New Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge New Thread": {
      "main": [
        [
          {
            "node": "Fetch Projects (context)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Message to Thread": {
      "main": [
        [
          {
            "node": "Create Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Run": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Get Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status": {
      "main": [
        [
          {
            "node": "Switch Run Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Run Status": {
      "main": [
        [
          {
            "node": "Get Last Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool Dispatcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Dispatcher": {
      "main": [
        [
          {
            "node": "Submit Tool Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Tool Outputs": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Message": {
      "main": [
        [
          {
            "node": "Format Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reply": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Upsert Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Error Reply": {
      "main": [
        [
          {
            "node": "Send Error Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Projects (context)": {
      "main": [
        [
          {
            "node": "Fetch Users (context)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Users (context)": {
      "main": [
        [
          {
            "node": "Build Context Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Context Message": {
      "main": [
        [
          {
            "node": "Add Message to Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "pinData": {},
  "meta": {
    "instanceId": "jarvis-main-v2"
  },
  "active": false,
  "tags": [],
  "versionId": "bd76c96c-055f-4082-bda5-f0ce08257ff0",
  "id": "4a374a1ad80243d7",
  "staticData": null,
  "triggerCount": 0
}